*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'fuente1';
    src: url(font/RobotoCondensed-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'fuente2';
    src: url(font/RobotoCondensed-VariableFont_wght.ttf);
}
html{
    font-family: 'fuente2';
    font-size: 19px;
    width: 100%;
    height: 100%;
}
img{
    width: 100%;
}

header{
    background-image: url(imagenes/fondo_header.jpg);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}


header a{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 20px;
    text-decoration:none;
    border-radius: 9px;
    margin: 5px;
    width: 30%;
    text-align: center;
}


.logo img{
    width: 20%;
}

main{
    background-color: rgb(187, 187, 187);
    padding: 150px 60px 50px;
    font-size: 25px;
}

main .contacto{
    display: flex;
    gap: 20px;
}

main .contacto .contacto1 img{
    width: 8%;
}

main .contacto .contacto1 ul{
    list-style: none;
    
}

main .contacto .contacto1 ul a{
    text-decoration: none;
    color: black;
}

main .contacto .contacto1 .almacen{
    width: 90%;
}

main .contacto .contacto2 .control{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

main .contacto .contacto2 .control2{
    border-radius: 5px;
}

main .contacto .contacto2 .botons{
    width: 50%;
    background-color: rgb(15, 82, 9);
    color: white;
    padding: 10px;
    font-size: 19px;
}

footer{
    background-image: url(imagenes/fondo_header.jpg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

footer a{
    color: white;
}

footer img{
    width: 8%;
}