*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'fuente1';
    src: url(font/RobotoCondensed-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'fuente2';
    src: url(font/RobotoCondensed-VariableFont_wght.ttf);
}

html{
    font-family: 'fuente2';
    font-size: 19px;
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
}

header{
    background-image: url(imagenes/fondo_header.jpg);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    position: absolute fixed;
}


header a{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration:none;
    border-radius: 9px;
    margin: 5px;
}

.logo img{
    width: 15%;
}

main{
    background-color: rgb(187, 187, 187);
    padding: 150px 60px 50px;
    text-align: center;
}

footer{
    background-image: url(imagenes/fondo_header.jpg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

footer a{
    color: white;
}

footer img{
    width: 8%;
}